body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}


//* Стили для header ======================================
.header {
  background: #F5F5F6;
  height: 50px;
  &__body {
    padding: 6px 100px 0px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  &__menu--list {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  &__login {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 10px 15px;
    &:hover {
      background: #833AE0;
    }
  }
  &__login--btn {
    font-family: Roboto;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: #000000;
  }
}

.menu-list {
  &__item {
    &--link {
      font-family: Roboto;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.06em;
      color: #959BA4;
      text-transform: uppercase;
      &:hover {
        color: #833AE0;
      }
    }
  }
  
}

.active {
  color: #000000;
}


//* Стили для converter ======================================
.main {
  padding: 60px 0px 0px 0px;
}
.converter {
  max-width: 665px;
  margin: 0px auto;
  background-color: #ffffff;
		&__title {
      font-family: Roboto;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      color: #000000;
      padding: 0px 0px 35px 0px;
		}
		&__body {
      display: flex;
      flex-wrap: wrap;
		}
		&__body--item {
      width: 40%;
      
		}
}
.item {
		&__title {
      display: block;
      font-family: Roboto;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #9F9F9F;
      margin: 0px 0px 10px 0px;
		}
		&__switcher {
      display: flex;
      justify-content: space-between;
      border: 1px solid #E5E5E5;
      border-radius: 3px;
      margin: 0px 0px 20px 0px;
		}
    &__switcher--box,
    &__switcher--box2 {
      font-family: Roboto;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #C6C6C6;
      padding: 10px 15px;
      border-right: 1px solid;
      cursor: pointer;
		}
		&__input--box {
      border: 1px solid #E5E5E5;
      border-radius: 3px;
      padding: 10px 0px 10px 15px;
		}
		&__input--input {
      display: block;
      width: 100%;
      font-family: Roboto;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      color: #000000;
      margin: 0px 0px 30px 0px;
		}
		&__input--rate {
      display: block;
      font-family: Roboto;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #C6C6C6;
		}
}
.box-select {
		&__text {
		}
		&__arrow {
		}
		&__arrow--img {
		}
		&__select {
      font-family: Roboto;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #C6C6C6;
      padding: 0px 12px;
      appearance: none;
      border-right: none;
      background: url(../images/arrow.svg) 36px 11px no-repeat;
		}
		&__select--option {
		}
}
.center {
  width: 20%;
  display: flex;
  justify-content: center;
  padding-top: 75px;
}
.center-arrow {
  cursor: pointer;
}

.box-active {
  background-color: #833AE0;
  color: #ffffff;
}




